@media screen and (max-width: 1399px) {
    .slider-template {
        width: 780px;
        margin: 0 auto;
    }
        .first-screen{
        .container{
            padding: 0 92px;
        }
    }

    .calculation-decoration{
        img{
            max-width: 100%;
        }
    }

}





