

@media screen and (max-width: 1199px) {
    .header-nav-list {
        gap: 20px;
    }
    .header-list-link {
        padding: 13px 12px 10px;
    }
    .calculation-decoration {
        width: 30vw;
    }

}