@media screen and (max-width: 767px) {
    .slider-template {
        width: 100%;
    .slick-list {
        margin-bottom: 32px;
     }
    .slick-slide {
        margin: 0;
     }
    }
    .template-card-btn-row .btn {
        position: relative;
        height: 50px;
        font-size: 13px;
    }
} 
    .seo {
        .btn-lg {
            width: 100%;
    
            .icon {
                margin: 0 -14px 0 auto;
            }
        }
    }
