.header{
	position: relative;
	padding: 25px 0 20px;
	
	&-logo{
		max-width: 168px;
	}

     > .container {
		display: flex;
	}

	&-nav {
		display: flex;
		width: 100%;
	}

    &-nav-list {
		display: flex;
		gap: 8px;
		list-style: none;
		font-weight: 400;
		line-height: 150%;
		padding-left: 88px;
	}

	&-list-link {
		padding: 13px 12px 10px;
		text-decoration: none;
		color: #fff;
	}
	
	&-list-link:hover {
		color: $color-primary;
	}
    .btn {
        margin-left: auto;
    }
    
    &-list-item {
        display: flex;
    }
	.btn {
		width: 171px;
	}
	.hamburger{
		margin-left: auto;
	}
    
}
