<section id="about-nav" class="about">
    <div class="container">
        <div class="about-text">
            <div class="title-template">
                <h2>Про компанію</h2>
            </div>
            <p>
                Aзія КАРГО - це повний комплекс логістичних послуг з доставки вантажів з Китаю в Україну - збірні вантажі і цілі партії вантажів, посередницькі послуги TaoBao, КАРГО <span>Китай-Україна</span>. Для вашої зручності діють тарифи на легкі та важкі кубики. Ми працюємо на ринку більше 4 років, а менеджери компанії займаються логістикою більше 11 років.
            </p>
            <p>
                Ми прагнемо забезпечити найкращі умови доставки та найкращий сервіс для наших клієнтів. Вибираючи нас, ви вибираєте якісну доставку, оптимальну за ціною і термінами! Переконайтеся в цьому самі!
            </p>
        </div>
        <div class="about__img-box">
            <img src="assets/img/about.png" class="img-fluid" alt="about">
        </div>
    </div>
</section>