<section class="advantages">
    <div class="container">
        <div class="title-template">
            <h2>Чому варто вибрати саме нас?</h2>
        </div>
        <div id="slider-advantages" class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-1.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Митне оформлення вантажу</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-2.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Страховка вантажу</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-3.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Провірка товару на брак</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-4.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Доставка в любе місто України</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-5.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Консолідація на складі</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-6.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Відповідальне зберігання вантажу</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-7.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Допомога в оплаті товару</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-8.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">Упакування, переупакування, палетування вантажу для міжнародних перевезень</h6>
                </div>
            </div>
        </div>
    </div>
</section>
