
<section class="advantages">
    <div class="container">
        <div class="template-title">
            <h2> Чому варто вибрати саме нас?</h2>
        </div>
    <div class="slider-advantages row">
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-4.svg" class="advantages-img" alt="Митне оформлення вантажу">
            </div>
            <h6 class="advantages-title">
                Митне оформлення вантажу
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-1.svg" class="advantages-img" alt="Страхування вантажів">
            </div>
            <h6 class="advantages-title">
                Страхування вантажів
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-6.svg" class="advantages-img" alt="Перевірка товару на наявність дефектів">
            </div>
            <h6 class="advantages-title">
                Перевірка товару на наявність дефектів
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-3.svg" class="advantages-img" alt="Доставка в будь-яке місто України">
            </div>
            <h6 class="advantages-title">
                Доставка в будь-яке місто України
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-7.svg" class="advantages-img" alt="Консолідація на складі">
            </div>
            <h6 class="advantages-title">
        Консолідація на складі
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-5.svg" class="advantages-img" alt="Відповідальне зберігання вантажу">
            </div>
            <h6 class="advantages-title">
                Відповідальне зберігання вантажу
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-2.svg" class="advantages-img" alt="Допомога в оплаті товару">
            </div>
            <h6 class="advantages-title">
                Допомога в оплаті товару
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantages-8.svg" class="advantages-img" alt="Упакування, перепакування, палетування вантажів для міжнародних перевезень">
            </div>
            <h6 class="advantages-title">
                Упакування, перепакування, палетування вантажів для міжнародних перевезень
    </h6>
        </div>
    </div>
</div>
</section>