<section class="calculation">
    <div class="container">
        <div class="title-template col-lg-7">
            <h2>Отримати розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <div class="calculation-row">
            <form class="calculation-form">
                <div class="input-row">
                    <div class="input-column">
                        <div class="input-box">
                            <label for="category">Категорія товару:</label>
                            <input id="category" type="text" placeholder="Категорія товару:">
                        </div>
                        <div class="input-box">
                            <label for="weight">Вага вантажу (кг):</label>
                            <input id="weight" type="number" placeholder="Введіть вагу">
                        </div>
                    </div>
                    <div class="input-column">
                        <div class="input-box">
                            <label for="price">Вартість вантажу:</label>
                            <input id="price" type="number" placeholder="Введіть вартість">
                        </div>
                        <div class="input-box">
                            <label for="size">Обєм вантажу (м3):</label>
                            <input id="size" type="number" placeholder="Введіть обєм">
                        </div>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-column">
                        <div class="input-box">
                            <div class="check-button">
                                <input id="insurance" type="checkbox" checked="" name="insurance">
                                <label for="insurance">Страховка</label>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="check-button">
                                <input id="customs-clearance" type="checkbox" checked="" name="customs-clearance">
                                <label for="customs-clearance">Митне оформлення</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-column">
                        <div class="input-box">
                            <label for="product-code">Код ТН ВЭД:</label>
                            <input id="product-code" type="text" placeholder="Введіть код">
                        </div>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-column">
                        <div class="input-box">
                            <div id="file-name">Ваш файл</div>
                            <input class="input-file" id="fileInput" name="fileInput" type="file">
                            <label for="fileInput">Загрузити фото товару</label>
                        </div>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-column">
                        <button type="button" class="btn btn-primary btn-lg">Наступний крок<img src="assets/img/arrow-right.svg" class="icon" alt="icon"></button>
                    </div>
                </div>
            </form>








            <img src="assets/img/calculation-decoration.png" class="calculation-decoration img-fluid" alt="calculation">
        </div>
    </div>
    </div>
</section>
