<section class="calculation">
    <div class="container">
        <div class="template-title col-lg-7">
            <h2> Отримайте розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <div class="calculation-row">
            <form class="calculation-form">
                <div class="row">
                    <div class="col">
                        <div class="input-wrapper">
                            <label for="category">Категорія товару:</label>
                            <select name="category" id="category">
                                <option value="Бытовая техника">Побутова техніка</option>
                                <option value="Мужские вещи">Чоловічі речі</option>
                                <option value="Женские вещи">Жіночі речі</option>
                                <option value="Детские вещи">Дитячі речі</option>
                                <option value="Товари для дома">Товари для дому</option>
                            </select>
                        </div>
                        <div class="input-wrapper">
                            <label for="calculation-weight">Вага вантажу (кг):</label>
                            <input id="calculation-weight" type="number" placeholder="Введіть вагу">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-wrapper">
                            <label for="calculation-price">Вартість вантажу:</label>
                            <input id="calculation-price" type="number" placeholder="Введіть вартість">
                        </div>
                        <div class="input-wrapper">
                            <label for="calculation-size">Об'єм вантажу (м3):</label>
                            <input id="calculation-size" type="number" placeholder="Введіть об'єм">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-wrapper">
                            <input id="insurance" type="checkbox" name="terms">
                            <label for="insurance">Страхування</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="clearance" type="checkbox" name="terms">
                            <label for="clearance">Митне оформлення</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-wrapper">
                            <label for="calculation-code">Код ТН ВЭД:</label>
                            <input id="calculation-code" type="number" placeholder="Введіть код">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-wrapper">
                            <div id="file-name" class="file-name"></div>
                            <input id="calculation-file" type="file">
                            <label for="calculation-file">Загрузити фото товару</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn-lg-calcultion">Наступний крок <img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                    </div>
                </div>

            </form>
            <div class="calculation-decoration">
                <img src="assets/img/calculation-decoration.png" class="img-fluid" alt="calculation-decoration">
            </div>
        </div>
    </div>
</section>