<section class="delivery">
    <div class="container-delivery">
        <div class="template-title">
            <h2>Варіанти доставки вантажів з Китаю</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-1.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - звичайне</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-30 днів
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            від 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>від</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Залишити заявку</button>
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-2.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - пришвидшене</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-20 днів
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            від 10 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>від</span>
                        <strong>3,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Залишити заявку</button>
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-4.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авіа</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            3-7 днів
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            від 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>від</span>
                        <strong>5,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Залишити заявку</button>
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-3.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Ж/д</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-30 днів
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            від 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>від</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Залишити заявку</button>
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-5.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Море</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            30-40 днів
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            від 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>від</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Залишити заявку</button>
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>