<section class="first-screen">
    <div id="banner" class="banner container-xxl">
        <div style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <h1 class="banner-title">ПPЯМЕ КАРГО З КИТАЮ</h1>
                <p class="banner-subtitle">Доставляємо будь-які вантажі з Китая по чесній ціні</p>
                <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-2.png);">
            <div class="container">
                <h2 class="banner-title">ПPЯМЕ КАРГО З КИТАЮ</h2>
                <p class="banner-subtitle">Доставляємо будь-які вантажі з Китая по чесній ціні</p>
                <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <h2 class="banner-title">ПPЯМЕ КАРГО З КИТАЮ</h2>
                <p class="banner-subtitle">Доставляємо будь-які вантажі з Китая по чесній ціні</p>
                <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <h2 class="banner-title">ПРЯМЕ КАРГО З КИТАЮ</h2>
                <p class="banner-subtitle">Доставляємо будь-які вантажі з Китая по чесній ціні</p>
                <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
            </div>
        </div>
    </div>
    <div class="banner-arrows"></div>
</section>
