<footer class="footer">
    <div class="container">
        <div class="information">
            <div class="main-info">
                <div class="logo-footer">
                    <img src="assets/img/logo.svg" alt="">
                </div>
                <div class="main-info-footer">
                    <ul>
                        <li>8(800)600-18-69</li>
                        <li style="text-decoration: underline;">info@cargoasia.info</li>
                        <li>Адреса в Китаї:</li>
                        <li>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</li>
                    </ul>
                </div>
                <div class="social-footer">
                    <a href="https://www.instagram.com/" class="social-link">
                        <img src="assets/img/insta-icon.svg" alt="insta">
                    </a>
                    <a href="" class="social-link">
                        <img src="assets/img/vk-icon.svg" alt="vk">
                    </a>
                    <a href="https://web.telegram.org/k/" class="social-link">
                        <img src="assets/img/telegram-icon.svg" alt="telegram">
                    </a>
                </div>
            </div>
            <div class="transportation-footer">
                <h5 class="title-footer">Вантажоперевезення</h5>
                <ul>
                    <li>
                        <a href="#delivery-nav">Ціни та терміни</a>
                    </li>
                    <li>
                        <a href="#services-nav">Послуги</a>
                    </li>
                    <li>
                        <a href="#about-nav">Про компанію</a>
                    </li>
                    <li>
                        <a href=""tel:0996113620>Контакти</a>
                    </li>
                    <li>
                        <a href="#seo-nav">Оформити вантаж</a>
                    </li>
                </ul>
            </div>
            <div class="services-footer">
                <h5 class="title-footer">Послуги</h5>
                <ul>
                    <li>
                        <a href="#services-nav">Викуп товару</a>
                    </li>
                    <li>
                        <a href="#services-nav">Страховка вантажу</a>
                    </li>
                    <li>
                        <a href="#services-nav">Оренда складу</a>
                    </li>
                    <li>
                        <a href="#sevices-nav">Переказ коштів</a>
                    </li>
                </ul>
            </div>
            <div class="info-footer">
                <h5 class="title-footer">Інформація</h5>
                <ul>
                    <li>
                        <a href="#">Відгуки</a>
                    </li>
                    <li>
                        <a href="#">Вимоги до вантажу</a>
                    </li>
                    <li>
                        <a href="#">Договір-оферти</a>
                    </li>
                    <li>
                        <a href="#">Як укласти договір</a>
                    </li>
                    <li>
                        <a href="#">Способи оплати послуг</a>
                    </li>
                    <li>
                        <a href="#">Документи</a>
                    </li>
                    <li>
                        <a href="#">Стаття</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>

</html>