<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#89C249">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>MasterTao</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/hamburgers.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <a href="markap.html" class="delete" style="position: fixed;bottom: 16px;left: 28px;">markap</a>
    <header class="header">
        <div class="container">
            <a href="/" class="header__logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="#delivery-nav" class="header__nav-item-link">Ціни та терміни</a></li>
                    <li class="header__nav-item"><a href="#services-nav" class="header__nav-item-link">Послуги</a></li>
                    <li class="header__nav-item"><a href="#about-nav" class="header__nav-item-link">Про компанію</a></li>
                    <li class="header__nav-item"><a href="tel:0996113620" class="header__nav-item-link">Контакти</a></li>
                    <li class="header__nav-item"><a href="#seo-nav" class="header__nav-item-link">Оформити вантаж</a></li>
                </ul>
                <button class="btn btn-primary">Залишити заявку</button>
            </nav>
            <button class="hamburger hamburger--collapse"></button>
        </div>
    </header>

