<section id="services-nav" class="services">
    <div class="container">
        <div class="title-template">
            <h2>Послуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-4.png" class="img-fluid" alt="services">
                    </div>
                    <h4 class="template-card__title">Викуп товару</h4>
                    <h6 class="template-card__subtitle">Компанія - це повний комплекс логістичних послуг по доставці вантажів з Китаю в Україну</h6>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-2.png" class="img-fluid" alt="services">
                    </div>
                    <h4 class="template-card__title">Страховка вантажу</h4>
                    <h6 class="template-card__subtitle">Компанія - це повний комплекс логістичних послуг по доставці вантажів з Китаю в Україну</h6>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-1.png" class="img-fluid" alt="services">
                    </div>
                    <h4 class="template-card__title">Оренда складу</h4>
                    <h6 class="template-card__subtitle">Компанія - це повний комплекс логістичних послуг по доставці вантажів з Китаю в Україну</h6>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-3.png" class="img-fluid" alt="services">
                    </div>
                    <h4 class="template-card__title">Переказ коштів</h4>
                    <h6 class="template-card__subtitle">Компанія - це повний комплекс логістичних послуг по доставці вантажів з Китаю в Україну</h6>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Детальніше</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>